<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="@cosmusstargazer">
    <meta name="keywords" content="astronomy, cosmos, universe">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %} {% endblock %}
</head>
<body>

    <div class="header">
        <a href="/" class="logo">Cosmus</a>
        <div class="header-right">
            <a class="active" href="/posts">Posts</a>
            <a href="/">Contact</a>
            <a href="/">About</a>
        </div>
    </div>
    {% block body %} {% endblock %}

</body>
</html>