{% extends 'base.html' %}

{% block head %}
<title>Posts</title>
{% endblock %}

{% block body %}
    <h1>Posts</h1>
    
    <hr>

    <h2>Create a new post</h2>
    <form action="/posts" method='POST'>
        Title: <input type="text" name='title' id='title'>
        <br>
        Post: <input type="text" name='content' id='content'>
        <br>
        <input type="submit" value='Post'>
        
    </form>
    <hr>

    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        
        
        
        
        <p>{{ post.content }}</p>
        {% if post.author %}
            <span class="text">Posted by: </span> <span class="author">{{ post.author }}</span>
        {% else %}
            <span class="text">Posted by unknown author</span>
        {% endif %}
        <p class="small">Posted at: {{ post.date_posted }}</p>
    {% endfor %}

{% endblock %}