{% extends 'base.html' %}

{% block head %}
    <title>Posts</title>
{% endblock %}

{% block body %}
    <div class="post">
        <h2>Create a new post</h2>
        <form action="/posts" method='POST'>
            Title: <input type="text" name='title' id='title' >
            <br>
            Author: <input type="text" name='author' id='author'>
            <br>
            Post: <input type="text" name='content' id='content'>
            <br>
            
            <input type="submit" value='Post'>
            
        </form>
    </div>

    <div class="row">
        <div class="leftcolumn">
        {% for post in posts %}
            <div class="card">
                <h2>{{ post.title }}</h2>
                <p style="font-size: 12px;">
                {% if post.author %}
                    <span style="font-weight: bold;">{{ post.author }}</span> 
                {% else %}
                    Unknown author
                    
                {% endif %}
                at {{ post.date_posted }}
                </p>
                <div class="fakeimg" style="height:200px">Image</div>
                <p>
                    {{ post.content }}
                </p> 
            
            </div>
        {% endfor %}

        </div>
          
        <div class="rightcolumn">
            <div class="card">
                <h2>About Me</h2>
                <div class="fakeimg" style="height:100px;">Image</div>
                <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
            </div>
            <div class="card">
                <h3>Popular Post</h3>
                <div class="fakeimg">Image</div><br>
                <div class="fakeimg">Image</div><br>
                <div class="fakeimg">Image</div>
            </div>
            <div class="card">
                <h3>Follow Me</h3>
                <p>Some text..</p>
            </div>
        </div>    
    </div>

    <div class="footer">
        <h2>Footer</h2>
    </div>

{% endblock %}

